

$main-font-color: #221E1F;
$primary-font-color: #56C4C5;

$main-container-max-width: 1366px;

$navbar-container-width: 80%;
$jumbotron-container-width: 80%;
$platform-container-width: 72%;
$scenario-container-width: 80%;
$feature-container-width: 81%;
$testimonial-container-width: 80%;



$fz-0: 0.75rem;
$fz-1: 1rem;
$fz-2: 1.125rem;
$fz-3: 1.25rem;
$fz-4: 1.5rem;
$fz-5: 2rem;
$fz-6: 3rem;